<div class="panel">
    <div class="panel-heading">Input</div>
    <div class="panel-body">
        <div>
            <ui-input type="text" placeholder="Please input your account" ng-model="username"></ui-input>
        </div>
        <div>
            <ui-input type="password" placeholder="Please input your password" ng-model="password"></ui-input>
        </div>
        <div>
            <ui-flat-button>
                <ui-icon name="ic-check" size="18px,18px" file="navigation" color="#999"></ui-icon>
                <span>Confirm</span>
            </ui-flat-button>
            <ui-flat-button>
                <ui-icon name="ic-close" size="18px,18px" file="navigation" color="#999"></ui-icon>
                <span>Cancel</span>
            </ui-flat-button>
        </div>
    </div>
</div>